

section {
    position: relative;
    background: #c9c9c9;
    height: 200px;
    width: 60%;
    margin: 0 auto;
    padding: 120px;
}
div {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 200px;
    height: 60px;
}
  